input {
    background-color: rgb(166, 211, 196);
    margin-left: 19%;
}

p {
    text-align: center;
    font-size: large;
   border: 10px;
   border-radius: 5px;
   background-color: rgb(166, 211, 196);
}


button {
    text-align: center;
    font-size: large;
   border: 10px;
   border-radius: 5px;
   background-color: rgb(196, 196, 196);
   margin-left: 39%;
}

div {
    padding: 30px;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
}

@media only screen and (min-width: 600px) {
    
input {
    background-color: rgb(166, 211, 196);
margin-left: 16%;
}

p {
    text-align: center;
    font-size: large;
   border: 10px;
   border-radius: 5px;
   background-color: rgb(166, 211, 196);
}

button {
    text-align: center;
    font-size: large;
   border: 10px;
   border-radius: 5px;
   background-color: rgb(196, 196, 196);
   margin-left: 38%;
}

div {
    width: 20%;
    margin-left: 35%;
    padding: 30px;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
}
}